
.top-header {

    background-color: #F0F0F0;
}

.link {
    width: 65px;
    height: 25px;
    display: inline-block;
    background-image: url(../img/top-logos.png);
    background-repeat: no-repeat;
}

.container.top-hd a, .menu-contact.container a {
    color: #333;
}

.container.top-hd ul {
    list-style: none;
    margin: 0;
    padding-right: 85px;
    float: right;
}

.container.top-hd ul li {
    display: inline-block;
}

.link-fb {
    background-position: 0px 0px;
}

.link-banco {
    background-position: -111px 0px;
    width: 93px;
}

.link-viajes {
    background-position: -203px 0px;
    width: 75px;
}

.link-seguros {
    background-position: -279px 0px;
    width: 68px;
}

.link-sodimac {
    background-position: -345px 0px;
    width: 86px;
}

.link-tottus {
    background-position: -499px 0px;
}

.menu-contact {
    padding: 11px 68px;
}

.menu-main {
    height: 68px;
    border-bottom: 2.5px solid #F1F1F1;
}

.navbar-default {
    background: #fff;
    padding: 0 165px;
    border: none;
}

.contador {
    background: #DD0021;
    border-radius: 57px;
    color: #fff;
    margin-left: 18px;
    padding: 3px 9px;
}
.floating{
  float: right;
}
